*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    background-image: url(../../public/homepage.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
}

.head{
    margin-left: 550px;
    font-size: 25px;
    color: whitesmoke;
    /* gap: 20px; */
    /* margin-top: 500px; */
    animation: animate 3s ease;
}

.bold-4{
    margin-left: -80px;
    
}

.home-img{
    margin-top: 150px;
    margin-left:50px;
    width: 30px;
    height: 30px;
}


@keyframes animate {
    0%{
        transform: matrix3d(0);
        opacity: 0;
    }
    100%{
        transform: translate3d(40px);
        opacity: 1;
    }
    
}