.signup-form {
    background-image: url('../../public/signup-img.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    padding-bottom: 40px;
  }
  .formdiv {
    width: 30%;
    margin: 0px auto;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px rgb(26, 15, 15);
    padding: 30px 30px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .formdiv h2 {
    text-align: center;
    font-weight: bolder;
    color: black;
  }
  form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
  input {
    border: 1px solid lightblue;
    border-radius: 8px;
    height: 35px;
    padding-left: 15px;
    font-size: 16px;
  }
  input:focus {
    outline: 2px solid rgba(0, 0, 139, 0.669);
    border: none;
  }
  
  .signupbtn {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    padding: 8px;
    width: 110px;
    font-size: 17px;
    margin: 0px auto;
    transition: all 1s ease-in-out;
    letter-spacing: 1px;
  }
  .signupbtn:hover {
    background-color: rgb(4, 103, 4);
  }
  .gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .gender label {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .gender label:first-child {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  .gender input:focus {
    outline: none;
  }
  a {
    text-decoration: none;
    letter-spacing: 1px;
    margin-left: 100px;
    color: white;
  }
  .popup,
  .popuperror {
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding: 17px;
    color: black;
    width: 450px;
    margin: 0px auto;
  }
  .popuperror {
    background-color: wheat;
    color: black;
  }